// mediaQuery
$bigwidth: 75rem; // 1200px
$desktopwidth: 58.75rem; // 940px
$tabletwidth: 45rem; // 720px
$mobilewidth: 0rem; // 0px
$retina: true;
$fakeretina: true;

// colors

// 

$sans: 'Vollkorn', sans-serif;
$sans-serif: 'Roboto', sans-serif;