<div class="c-language-list">
  <cv-list-title class="c-language-list__title">
    Languages
  </cv-list-title>

  <div class="c-language-list__items">
    <cv-language language="German" level="mother tongue"></cv-language>
    <cv-language language="English" level="second mother tongue"></cv-language>
  </div>
</div>
