*, *::after, *::before {
	box-sizing: border-box;
}

table {
	width: 100%;
}

@media print {
	thead { display: table-header-group; }
	tfoot { display: table-footer-group; }
}

@page {
	margin: 1cm 1.5cm 1.5cm;
}
