@import "../../../variables.scss";

.c-experience {
  margin-bottom: 1.5rem;
  border-radius: 3px;
  padding: 0.75em;
  background-color: $color-saturated-background;
  box-shadow: 0 3px 0 #ccc;
}

.c-experience__timeframe {
  font-size: 0.75em;
  color: $color-saturated-color;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.c-experience__ongoing {
  fill: #f00;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: 1em;
}

.c-experience__location {
  font-size: 0.75em;
  color: $color-saturated-color;
}

.c-experience__job {}

.c-experience--ongoing {
  background-color: hsl(217, 70.7%, 54.5%);
  box-shadow: 0 3px 0 hsl(217, 100%, 28%);
  color: #fff;
}

.c-experience__location--ongoing,
.c-experience__timeframe--ongoing {
  color: hsla(217, 0%, 100%, 0.76);
}
