<div class="c-experience" [class.c-experience--ongoing]="ongoing">
  <div class="c-experience__timeframe" [class.c-experience__timeframe--ongoing]="ongoing">
    {{ timeframe }}

    <ng-container *ngIf="ongoing">
      &ndash;

      <svg class="c-experience__ongoing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2z"/>
      </svg>

      Ongoing
    </ng-container>
  </div>

  <div class="c-experience__job" [class.c-experience__job--ongoing]="ongoing">
    <ng-content></ng-content>
  </div>

  <div class="c-experience__location" [class.c-experience__location--ongoing]="ongoing">
    {{ location }}
  </div>
</div>
