@import "../../../variables.scss";

.c-award {
  margin-bottom: 1.5rem;
}

.c-award__timeframe {
  font-size: 0.75em;
  color: $color-saturated-color;
  width: 100%;
}

.c-award__competition {

}

.c-award__icon {
  width: 2em;
  height: 2em;
}