<div class="c-award o-flag">
  <svg viewBox="0 0 24 24" class="c-award__icon o-flag__figure">
      <path d="M20.2,2H19.5H18C17.1,2 16,3 16,4H8C8,3 6.9,2 6,2H4.5H3.8H2V11C2,12 3,13 4,13H6.2C6.6,15 7.9,16.7 11,17V19.1C8.8,19.3 8,20.4 8,21.7V22H16V21.7C16,20.4 15.2,19.3 13,19.1V17C16.1,16.7 17.4,15 17.8,13H20C21,13 22,12 22,11V2H20.2M4,11V4H6V6V11C5.1,11 4.3,11 4,11M20,11C19.7,11 18.9,11 18,11V6V4H20V11Z" />
  </svg>

  <div class="o-flag__body">
    <div class="c-award__timeframe">
      {{ placement }} place, {{ timeframe }}
    </div>

    <div class="c-award__competition">
      <ng-content></ng-content>
    </div>
  </div>
</div>
