<div class="c-working-experience-list">
  <cv-list-title class="c-working-experience-list__title">Working Experience</cv-list-title>

  <div class="c-working-experience-list__items">
    <cv-experience
      *ngFor="let experience of experiences trackBy: trackByIndex"
      [timeframe]="experience.timeframe"
      [location]="experience.location"
      [ongoing]="experience.ongoing"
    >
      {{ experience.job }}
    </cv-experience>
  </div>
</div>
