<div class="c-award-list">
    <cv-list-title class="c-award-list__title">Awards</cv-list-title>

    <div class="c-award-list__items">
      <cv-award
        *ngFor="let award of awards trackBy: trackByIndex"
        [timeframe]="award.timeframe"
        [placement]="award.placement"
      >
        {{ award.competition }}
      </cv-award>
    </div>
  </div>
