/**
 * The flag object is a design pattern similar to the media object, however it aligns it in the vertical middle. You can find more info here:
 * http://csswizardry.com/2013/05/the-flag-object/
 *
 * @modifiers
 *  .o-flag--fit only use as much horizontal space as needed instead of 100%
 * @markup
 *  <div class="o-flag">
 *      <img src="@{image:300:200}" class="o-flag__figure">
 *
 *      <div class="o-flag__body">
 *         @{lipsum:50:words}
 *      </div>
 *  </div>
 */

.o-flag {
  display: flex;
  align-items: center;
}

.o-flag--fit {
  display: inline-flex;
}

.o-flag__figure {
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1;

  & > :last-child {
    margin-bottom: 0;
  }
}

.o-flag__body {
  flex-grow: 1;
  flex-shrink: 1;

  & > :last-child {
    margin-bottom: 0;
  }

  + .o-flag__figure {
    margin-left: 1em;
    margin-right: 0;
  }
}
