.c-named-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.c-named-item__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 0.25em;
}

.c-named-item__name {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}
