<!--
  This is a table because of printing.
  This allows to repeat certain parts on the page.
  @see _print.scss
-->

<table class="c-cv">
  <thead>
    <tr>
        <th>
          <div class="c-cv__item c-cv__item--full">
            <cv-profile></cv-profile>
          </div>
        </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <div class="c-cv__content">
          <div class="c-cv__item">
            <cv-aboutme></cv-aboutme>
            <cv-award-list></cv-award-list>
            <cv-code-list></cv-code-list>
            <cv-framework-list></cv-framework-list>
            <cv-tool-list></cv-tool-list>
          </div>

          <div class="c-cv__item">
              <cv-working-experience-list></cv-working-experience-list>
              <cv-education-experience-list></cv-education-experience-list>
              <cv-language-list></cv-language-list>
              <cv-technologies></cv-technologies>
              <cv-lastjob></cv-lastjob>
          </div>
        </div>

        <div class="c-cv__item c-cv__item--full">

        </div>
      </td>
    </tr>
  </tbody>
</table>
