<div class="c-list-title o-flag">
  <img *ngIf="icon" class="c-list-title__icon o-flag__figure" [src]="icon">

  <h2 class="c-list-title__text o-flag__body">
    <ng-content></ng-content>
  </h2>
</div>
