<div class="c-code-list">
  <cv-list-title class="c-code-list__title">Programming Languages</cv-list-title>

  <p class="c-code-list__description">
    Those are the programming languages I have <strong>7+ years</strong> of professional experience <strong>sorted by knowledge</strong>.
  </p>

  <div class="c-code-list__items">
      <cv-named-item name="TypeScript">
        <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path fill="#007ACC" d="M0 128v128h256V0H0z"/><path d="M56.611 128.85l-.081 10.483h33.32v94.68H113.42v-94.68h33.32v-10.28c0-5.69-.122-10.444-.284-10.566-.122-.162-20.399-.244-44.983-.203l-44.739.122-.122 10.443zM206.567 118.108c6.501 1.626 11.459 4.51 16.01 9.224 2.357 2.52 5.851 7.112 6.136 8.209.08.325-11.053 7.802-17.798 11.987-.244.163-1.22-.894-2.317-2.52-3.291-4.794-6.745-6.867-12.028-7.232-7.76-.529-12.759 3.535-12.718 10.32 0 1.992.284 3.17 1.097 4.796 1.707 3.535 4.876 5.648 14.832 9.955 18.326 7.884 26.168 13.085 31.045 20.48 5.445 8.25 6.664 21.415 2.966 31.208-4.063 10.646-14.14 17.88-28.323 20.277-4.388.772-14.79.65-19.504-.203-10.28-1.829-20.033-6.908-26.047-13.572-2.357-2.601-6.949-9.387-6.664-9.875.122-.162 1.178-.812 2.356-1.503 1.138-.65 5.446-3.13 9.509-5.486l7.355-4.267 1.544 2.276c2.154 3.291 6.867 7.802 9.712 9.305 8.167 4.308 19.383 3.698 24.909-1.26 2.357-2.153 3.332-4.388 3.332-7.68 0-2.966-.366-4.266-1.91-6.5-1.99-2.845-6.054-5.243-17.595-10.24-13.206-5.69-18.895-9.225-24.096-14.833-3.007-3.25-5.852-8.452-7.03-12.8-.975-3.616-1.22-12.678-.447-16.335 2.723-12.76 12.353-21.658 26.25-24.3 4.51-.853 14.994-.528 19.424.57z" fill="#FFF"/></svg>
      </cv-named-item>

      <cv-named-item name="JavaScript">
        <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M0 0h256v256H0V0z" fill="#F7DF1E"/><path d="M67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371 7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259-19.245 0-30.416-9.967-36.087-21.996M152.381 211.354l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607 9.969 0 16.325-4.984 16.325-11.858 0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257 0-18.044 13.747-31.792 35.228-31.792 15.294 0 26.292 5.328 34.196 19.247L210.29 147.43c-4.125-7.389-8.591-10.31-15.465-10.31-7.046 0-11.514 4.468-11.514 10.31 0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804 0 21.654-17.012 33.51-39.867 33.51-22.339 0-36.774-10.654-43.819-24.574"/></svg>
      </cv-named-item>

      <cv-named-item name="Sass/CSS">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 547.8 410.6"><path fill="#CD6799" d="M471.4 236c-19.1.1-35.7 4.7-49.6 11.5-5.1-10.1-10.2-19.1-11.1-25.7-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3s-1.2-5.7-12.2-5.8c-11-.1-20.5 2.1-21.6 5-1.1 2.9-3.2 9.5-4.6 16.3-1.9 10-22 45.7-33.5 64.4-3.7-7.3-6.9-13.7-7.6-18.8-1-7.7-2.2-12.4-1-21.6 1.2-9.2 6.6-22.3 6.5-23.3-.1-1-1.2-5.7-12.2-5.8-11-.1-20.5 2.1-21.6 5-1.1 2.9-2.3 9.7-4.6 16.3-2.3 6.6-29 66.2-36 81.6-3.6 7.9-6.7 14.2-8.9 18.5s-.1.3-.4.8c-1.9 3.7-3 5.7-3 5.7v.1c-1.5 2.7-3.1 5.2-3.9 5.2-.6 0-1.7-7.2.2-17 4-20.7 13.5-52.9 13.4-54 0-.6 1.8-6.2-6.2-9.1-7.8-2.9-10.6 1.9-11.3 1.9-.7 0-1.2 1.7-1.2 1.7s8.7-36.2-16.6-36.2c-15.8 0-37.6 17.3-48.4 32.9-6.8 3.7-21.3 11.6-36.8 20.1-5.9 3.3-12 6.6-17.7 9.7-.4-.4-.8-.9-1.2-1.3-30.6-32.7-87.2-55.8-84.8-99.7.9-16 6.4-58 108.7-109 84.2-41.5 151.2-30 162.8-4.5 16.6 36.4-35.9 104-122.9 113.8-33.2 3.7-50.6-9.1-55-13.9-4.6-5-5.3-5.3-7-4.3-2.8 1.5-1 6 0 8.6 2.6 6.8 13.3 18.8 31.4 24.7 16 5.2 54.9 8.1 102-10.1 52.7-20.4 93.9-77.1 81.8-124.6C330.7 2 250.7-13.9 175 13 130 29 81.2 54.2 46.1 87 4.4 126-2.2 159.9.5 174.1c9.7 50.4 79.2 83.2 107 107.5-1.4.8-2.7 1.5-3.8 2.1-13.9 6.9-66.9 34.6-80.1 63.9-15 33.2 2.4 57 13.9 60.2 35.7 9.9 72.4-7.9 92.1-37.3 19.7-29.4 17.3-67.6 8.2-85.1-.1-.2-.2-.4-.4-.6 3.6-2.1 7.3-4.3 10.9-6.4 7.1-4.2 14.1-8.1 20.1-11.3-3.4 9.3-5.9 20.4-7.1 36.4-1.5 18.8 6.2 43.2 16.3 52.8 4.5 4.2 9.8 4.3 13.2 4.3 11.8 0 17.1-9.8 23-21.4 7.2-14.2 13.7-30.7 13.7-30.7s-8.1 44.6 13.9 44.6c8 0 16.1-10.4 19.7-15.7v.1s.2-.3.6-1c.8-1.3 1.3-2.1 1.3-2.1v-.2c3.2-5.6 10.4-18.3 21.1-39.4 13.8-27.2 27.1-61.2 27.1-61.2s1.2 8.3 5.3 22.1c2.4 8.1 7.4 17 11.4 25.6-3.2 4.5-5.2 7-5.2 7l.1.1c-2.6 3.4-5.4 7.1-8.5 10.7-10.9 13-23.9 27.9-25.7 32.2-2.1 5.1-1.6 8.8 2.4 11.8 2.9 2.2 8.1 2.5 13.4 2.2 9.8-.7 16.7-3.1 20.1-4.6 5.3-1.9 11.5-4.8 17.3-9.1 10.7-7.9 17.2-19.2 16.6-34.1-.3-8.2-3-16.4-6.3-24.1 1-1.4 1.9-2.8 2.9-4.2 16.9-24.7 30-51.8 30-51.8s1.2 8.3 5.3 22.1c2 7 6.1 14.6 9.7 22-15.9 12.9-25.7 27.9-29.2 37.7-6.3 18.2-1.4 26.4 7.9 28.3 4.2.9 10.2-1.1 14.6-3 5.6-1.8 12.2-4.9 18.5-9.5 10.7-7.9 21-18.9 20.4-33.8-.3-6.8-2.1-13.5-4.6-20 13.5-5.6 30.9-8.7 53.1-6.1 47.6 5.6 57 35.3 55.2 47.8-1.8 12.5-11.8 19.3-15.1 21.4-3.3 2.1-4.4 2.8-4.1 4.3.4 2.2 2 2.1 4.8 1.7 3.9-.7 25-10.1 25.9-33.1 1.5-29.4-26.5-61.5-76-61.2zM104.2 359.8C88.4 377 66.4 383.5 56.9 378c-10.2-5.9-6.2-31.3 13.2-49.5 11.8-11.1 27-21.4 37.1-27.7 2.3-1.4 5.7-3.4 9.8-5.9.7-.4 1.1-.6 1.1-.6l2.4-1.5c7.1 26 .3 48.9-16.3 67zm115-78.2c-5.5 13.4-17 47.7-24 45.8-6-1.6-9.7-27.6-1.2-53.3 4.3-12.9 13.4-28.3 18.7-34.3 8.6-9.6 18.1-12.8 20.4-8.9 2.9 5.1-10.5 42.3-13.9 50.7zm94.9 45.4c-2.3 1.2-4.5 2-5.5 1.4-.7-.4 1-2 1-2s11.9-12.8 16.6-18.6c2.7-3.4 5.9-7.4 9.3-11.9v1.3c0 15.3-14.8 25.6-21.4 29.8zm73.2-16.7c-1.7-1.2-1.4-5.2 4.3-17.7 2.2-4.9 7.4-13.1 16.3-21 1 3.2 1.7 6.3 1.6 9.2-.1 19.3-13.9 26.5-22.2 29.5z"/></svg>
      </cv-named-item>

      <cv-named-item name="PHP">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><g>	<path style="fill:#DCD5F2;" d="M20,30.5C9.248,30.5,0.5,25.79,0.5,20S9.248,9.5,20,9.5S39.5,14.21,39.5,20S30.752,30.5,20,30.5z"></path>	<path style="fill:#8B75A1;" d="M20,10c10.299,0,19,4.579,19,10s-8.701,10-19,10S1,25.421,1,20S9.701,10,20,10 M20,9   C8.954,9,0,13.925,0,20s8.954,11,20,11s20-4.925,20-11S31.046,9,20,9L20,9z"></path></g><path style="fill:#36404D;" d="M12.556,17c0.863,0,1.607,0.311,2.042,0.853c0.375,0.467,0.49,1.085,0.334,1.789  C14.511,21.537,13.698,22,10.785,22h-2.07l0.875-5H12.556 M12.556,16H8.75L7,26h1l0.528-3h2.257c2.931,0,4.526-0.453,5.123-3.142  C16.421,17.548,14.718,16,12.556,16L12.556,16z"></path><path style="fill:#36404D;" d="M30.556,17c0.863,0,1.607,0.311,2.042,0.853c0.375,0.467,0.49,1.085,0.334,1.789  C32.511,21.537,31.698,22,28.785,22h-2.07l0.875-5H30.556 M30.556,16H26.75L25,26h1l0.528-3h2.257c2.931,0,4.526-0.453,5.123-3.142  C34.421,17.548,32.718,16,30.556,16L30.556,16z"></path><g>	<path style="fill:#36404D;" d="M24.536,16.606C24.097,16.174,23.322,16,22.167,16h-2.769L20,13h-1.05L17,23h0.995l1.194-6h0.209   h2.769c1.169,0,1.547,0.2,1.668,0.318c0.172,0.169,0.212,0.613,0.109,1.181L23.06,23h1.053l0.813-4.315   C25.099,17.731,24.968,17.031,24.536,16.606z"></path></g></svg>
      </cv-named-item>

      <cv-named-item name="Lua">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 937 937"><path d="M880.4 266.18A456.67 456.67 0 1 1 722.22 90.51" stroke="gray" stroke-dasharray="39.852" stroke-width="10.597" fill="none"/><circle cy="473.5" cx="473.5" r="353.21" fill="navy"/><circle cy="327.2" cx="619.81" r="103.45" fill="#fff"/><circle cy="120.29" cx="826.72" r="103.46" fill="navy"/><g fill="#fff"><path d="M377.82 650.11v-26.067H263.38v-205.68h-29.564v231.75h144.01M536.7 650.11V483.53h-26.385v91.872c0 34.015-17.802 56.267-45.459 56.267-20.981 0-34.333-12.716-34.333-32.743v-115.4h-26.385v125.89c0 27.657 20.663 45.459 53.089 45.459 24.478 0 40.055-8.583 55.632-30.518v25.75h23.842M730.5 649.47v-20.027c-2.861.636-4.133.636-5.722.636-9.22 0-14.305-4.769-14.305-13.034V524.22c0-29.564-21.617-45.46-62.625-45.46-40.373 0-65.17 15.578-66.758 54.043h26.703c2.225-20.345 14.305-29.564 39.1-29.564 23.843 0 37.195 8.9 37.195 24.796v6.993c0 11.126-6.676 15.895-27.657 18.438-37.512 4.769-43.234 6.04-53.406 10.173-19.392 7.948-29.246 22.888-29.246 43.234 0 30.2 20.98 48.002 54.678 48.002 21.299 0 41.962-8.9 56.585-24.478 2.86 12.716 14.305 21.935 27.339 21.935 5.404 0 9.537-.635 18.12-2.86m-46.413-56.904c0 23.842-24.16 39.101-49.91 39.101-20.663 0-32.743-7.311-32.743-25.432 0-17.484 11.762-25.114 40.055-29.246 27.975-3.814 33.697-5.086 42.598-9.219v24.796"/></g></svg>
      </cv-named-item>

      <cv-named-item name="Java">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g id="surface1"><path style=" fill:#F44336;" d="M 23.648438 24.898438 C 22.652344 23.289063 21.929688 21.953125 20.925781 19.441406 C 19.230469 15.199219 31.238281 11.367188 26.371094 4 C 28.480469 9.089844 18.792969 12.234375 17.894531 16.472656 C 17.070313 20.371094 23.644531 24.898438 23.648438 24.898438 Z "></path><path style=" fill:#F44336;" d="M 23.878906 17.269531 C 23.6875 19.785156 26.105469 21.128906 26.175781 22.964844 C 26.234375 24.460938 24.730469 25.707031 24.730469 25.707031 C 24.730469 25.707031 27.457031 25.171875 28.308594 22.890625 C 29.253906 20.355469 26.476563 18.621094 26.761719 16.59375 C 27.027344 14.652344 32.792969 11.050781 32.792969 11.050781 C 32.792969 11.050781 24.3125 11.609375 23.878906 17.269531 Z "></path><path style=" fill:#1565C0;" d="M 32.085938 25.054688 C 33.839844 24.660156 35.316406 25.777344 35.316406 27.066406 C 35.316406 29.964844 31.296875 32.707031 31.296875 32.707031 C 31.296875 32.707031 37.519531 31.964844 37.519531 27.203125 C 37.519531 24.054688 34.464844 23.265625 32.085938 25.054688 Z "></path><path style=" fill:#1565C0;" d="M 29.128906 27.394531 C 29.128906 27.394531 31.070313 26.011719 31.585938 25.492188 C 26.824219 26.503906 15.949219 26.640625 15.949219 25.761719 C 15.949219 24.953125 19.457031 24.125 19.457031 24.125 C 19.457031 24.125 11.683594 24.011719 11.683594 26.304688 C 11.683594 28.695313 21.859375 28.867188 29.128906 27.394531 Z "></path><path style=" fill:#1565C0;" d="M 27.933594 29.570313 C 23.425781 31.070313 15.121094 30.589844 17.582031 28.578125 C 16.382813 28.578125 14.605469 29.539063 14.605469 30.46875 C 14.605469 32.324219 23.589844 33.757813 30.238281 31.039063 Z "></path><path style=" fill:#1565C0;" d="M 18.6875 32.738281 C 17.050781 32.738281 15.992188 33.792969 15.992188 34.5625 C 15.992188 36.953125 25.75 37.191406 29.617188 34.765625 L 27.160156 33.132813 C 24.269531 34.402344 17.015625 34.578125 18.6875 32.738281 Z "></path><path style=" fill:#1565C0;" d="M 36.28125 36.632813 C 36.28125 35.695313 35.226563 35.253906 34.847656 35.042969 C 37.074219 40.417969 12.53125 40 12.53125 36.828125 C 12.53125 36.105469 14.339844 35.402344 16.007813 35.734375 L 14.589844 34.894531 C 11.261719 34.375 9 35.835938 9 37.015625 C 9 42.519531 36.28125 42.253906 36.28125 36.632813 Z "></path><path style=" fill:#1565C0;" d="M 39 38.605469 C 34.855469 42.699219 24.339844 44.191406 13.769531 41.660156 C 24.339844 46.164063 38.949219 43.628906 39 38.605469 Z "></path></g></svg>
      </cv-named-item>
  </div>
</div>
