@import "../../../variables";

.c-code-list {}

@media print {
  .c-code-list {
    margin-top: 12rem;
  }
}

.c-code-list__items {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.c-code-list__description {
  color: $color-saturated-color;
  margin-bottom: 1.5em;
}
