@import "../../../variables";

.c-lastjob {
  font-size: 1rem;
}

.c-lastjob__title {}

p {
  color: $color-saturated-color;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  display: grid;
  grid-gap: 1em;
  padding: 0;
  list-style: none;
}

li::before {
  content: '—';
  margin-right: 0.5em;
}
