@import "../../../variables.scss";

.c-technology-list {}

@media print {
  .c-technology-list {
    margin-top: 5em;
  }
}

.c-technology-list__items {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.c-technology-list__description {
  color: $color-saturated-color;
  margin-bottom: 1.5em;
}
