@import "../../../variables.scss";

.c-tool-list {}

.c-tool-list__items {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.c-tool-list__description {
  color: $color-saturated-color;
  margin-bottom: 1.5em;
}
