<div class="c-profile o-flag">
  <img
    src="/assets/profile.jpg"
    alt="Image of Karl Merkli"
    title="Image of Karl Merkli"
    class="c-profile__image o-flag__figure"
  />

  <div class="o-flag__body">
    <div class="c-profile__name">Karl Merkli</div>
    <div class="c-profile__job-title">Senior Frontend Developer</div>
  </div>
</div>
