@import "../../variables";

.c-profile {
  margin-bottom: 1.5rem;
}

.c-profile__image {
  width: 50px;
  border-radius: 100%;
  box-shadow: 1px 2px 10px 0 hsla(0, 0%, 0%, 0.2);
}

.c-profile__name {
  font-weight: 500;
  font-size: 1.4em;
}

.c-profile__job-title {
  color: $color-saturated-color;
}
