@import "../../../variables.scss";

.c-aboutme {}

.c-aboutme__text {
  font-size: 1em;
  color: $color-saturated-color;
  width: 100%;
}

.c-aboutme__self-marketing {
  margin-bottom: 0.25rem;
  margin-top: 1.5rem;
}

.c-aboutme__contact {
  margin-bottom: 1.5rem;
}

