<div class="c-aboutme">
    <cv-list-title class="c-aboutme__title">About Me</cv-list-title>

    <div class="c-aboutme__text">
        <p>
          Hello there! I am Karl Merkli, a 27 year old frontend developer from Switzerland living in Zürich.
        </p>

        <p>
          I would describe myself as a very ambitious and persistent person, this shows in my hobbies and interests which are mostly very competitive.
          In my free time while I am not out doing something with my friends, I like to compete (and watch) in esports tournaments, play the piano and cook meals for me and my friends.
        </p>

        <p>
          I am passionate about design, code and delivering a stunning experience for the user.
          I try to achieve this difficult task by figuring out the user's needs, using the correct tools for the job and being up to date with the latest tech.
        </p>

        <p>
          My best attributes are being open minded, communicative on the important topics, ability to learn swiftly and problem solving skills.
        </p>
    </div>

    <div class="c-aboutme__contact">
      <div class="c-aboutme__self-marketing">
        Want to work together? Already excited!
      </div>

      <div class="c-aboutme__contact-details">
        <div class="o-flag">
          <svg class="o-flag__figure" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
          </svg>

          <div class="o-flag__body">
            +41 79 861 77 34
          </div>
        </div>

        <div class="o-flag">
          <svg class="o-flag__figure" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
          </svg>

          <div class="o-flag__body">
            karlmerkli@gmail.com
          </div>
        </div>

        <div class="o-flag">
          <svg class="o-flag__figure" width="16" height="16" viewBox="0 0 24 24">
            <path fill="#000000" d="M20.38,8.53C20.54,8.13 21.06,6.54 20.21,4.39C20.21,4.39 18.9,4 15.91,6C14.66,5.67 13.33,5.62 12,5.62C10.68,5.62 9.34,5.67 8.09,6C5.1,3.97 3.79,4.39 3.79,4.39C2.94,6.54 3.46,8.13 3.63,8.53C2.61,9.62 2,11 2,12.72C2,19.16 6.16,20.61 12,20.61C17.79,20.61 22,19.16 22,12.72C22,11 21.39,9.62 20.38,8.53M12,19.38C7.88,19.38 4.53,19.19 4.53,15.19C4.53,14.24 5,13.34 5.8,12.61C7.14,11.38 9.43,12.03 12,12.03C14.59,12.03 16.85,11.38 18.2,12.61C19,13.34 19.5,14.23 19.5,15.19C19.5,19.18 16.13,19.38 12,19.38M8.86,13.12C8.04,13.12 7.36,14.12 7.36,15.34C7.36,16.57 8.04,17.58 8.86,17.58C9.69,17.58 10.36,16.58 10.36,15.34C10.36,14.11 9.69,13.12 8.86,13.12M15.14,13.12C14.31,13.12 13.64,14.11 13.64,15.34C13.64,16.58 14.31,17.58 15.14,17.58C15.96,17.58 16.64,16.58 16.64,15.34C16.64,14.11 16,13.12 15.14,13.12Z" />
          </svg>

          <div class="o-flag__body">
            github.com/itrulia
          </div>
        </div>
      </div>
    </div>
</div>
