<section class="section--left">
	<section class="section">
		<h2 class="section__title"><span class="ion ion-person"></span> About me</h2>

		<div class="section__content">
			<p>
				Hello there! I am Karl Merkli, a 20 year old frontend developer currently based in the beautiful Switzerland.
			</p>

			<p>
				I first tried coding a month in to gaming World of Warcraft at the age of 10.
				You are able to enhance the game with various AddOns which either are functional and/or visual enhancements.
			</p>

			<p>
				Since then I am very passionate about design, code and delivering a stunning experience for the user.
				I try to achieve this difficult task by being always up to date with the newest trends, techniques and workflows,
				but also considering standards which showed success.
			</p>
		</div>

		<div class="contact">
			<p class="contanct__detail">Want to work together? I am excited already!</p>
			<p class="contanct__detail"><span class="ion ion-ios-telephone"></span> +41 (0)44 492 29 41</p>
			<p class="contanct__detail"><span class="ion ion-email"></span> business@karl-merkli.ch</p>
			<p class="contanct__detail"><span class="ion ion-social-octocat"></span> github.com/itrulia</p>
			<!-- <p class="contanct__detail"><span class="ion ion-earth"></span> karl-merkli.ch/contact</p> -->
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-ribbon-a"></span> Awards</h2>
		<div class="section__recognition recognition">
			<div class="recognition__icon">
				<span class="ion ion-trophy"></span>
			</div>

			<div class="recognition__description">
				<p class="saturate"><small>2014</small></p>
				<p>4th Place &mdash; Swiss Championship &mdash; Web Design</p>
			</div>
		</div>

		<div class="section__recognition recognition">
			<div class="recognition__icon">
				<span class="ion ion-trophy"></span>
			</div>

			<div class="recognition__description">
				<p class="saturate"><small>2013</small></p>
				<p>5th Place &mdash; Swiss Championship &mdash; Web Design</p>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-code-working"></span> Known Coding Languages</h2>

		<div class="section__progress">
			<p>PHP &mdash; 8 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 100%; background-color: #6181b6;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>CSS, SASS, LESS &mdash; 8 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 100%; background-color: #cc6699;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>JavaScript &mdash; 5 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 95%; background-color: #f0db4f;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>LUA &mdash; 10 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 80%; background-color: #00257A;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Java &mdash; 3 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 70%; background-color: #D50000;"></div>
			</div>
		</div>

		<!-- <div class="section__progress">
			<p>Delphi &mdash; 3 Years</p>
			<div class="progress">
				<div class="progress__bar" style="width: 55%; background-color: #0B78BB;"></div>
			</div>
		</div> -->
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-social-buffer"></span> Known Frameworks</h2>

		<div class="section__progress">
			<p>Laravel</p>
			<div class="progress">
				<div class="progress__bar" style="width: 100%; background-color: #fd4f31;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Codeception / PHPUnit</p>
			<div class="progress">
				<div class="progress__bar" style="width: 95%; background-color: #384564;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Angular</p>
			<div class="progress">
				<div class="progress__bar" style="width: 95%; background-color: #c4473a;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Selenium</p>
			<div class="progress">
				<div class="progress__bar" style="width: 90%; background-color: #2980B9;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Bootstrap</p>
			<div class="progress">
				<div class="progress__bar" style="width: 90%; background-color: #59407f;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>jQuery</p>
			<div class="progress">
				<div class="progress__bar" style="width: 85%; background-color: #0769ad;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Symfony</p>
			<div class="progress">
				<div class="progress__bar" style="width: 70%; background-color: #000;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Backbone</p>
			<div class="progress">
				<div class="progress__bar" style="width: 65%; background-color: #002A41;"></div>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-cube"></span> Known Services</h2>

		<div class="section__progress">
			<p><strong>Redis</strong> &mdash; <span class="saturate">default in side projects</span></p>
			<p><strong>Varnish</strong> &mdash; <span class="saturate">used in a side project</span></p>
			<p><strong>Apache</strong> &mdash; <span class="saturate">default in projects</span></p>
			<p><strong>nginx</strong> &mdash; <span class="saturate">used in some side projects</span></p>
			<p><strong>SQL</strong> &mdash; <span class="saturate">default in projects</span></p>
			<p><strong>NoSQL</strong> &mdash; <span class="saturate">used in some side projects</span></p>
			<p><strong>Queues</strong> &mdash; <span class="saturate">default in side projects</span></p>
		</div>
	</section>
</section>

<section class="section--right">
	<section class="section">
		<h2 class="section__title"><span class="ion ion-briefcase"></span> Working Experience</h2>
		<div class="section__timeline timeline">
			<div class="timeline__item">
				<p class="saturate"><small>2011 &ndash; August 2015</small></p>
				<p>Apprenticeship &mdash; Software Engineer</p>
				<p class="saturate"><small>AAC Infotray &mdash; Winterthur, CH</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2014</small></p>
				<p>Volunteer &mdash; SmashingConf Freiburg</p>
				<p class="saturate"><small>SmashingMedia &mdash; Freiburg, DE</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2014</small></p>
				<p>Volunteer &mdash; Frontend Developer</p>
				<p class="saturate"><small>Google &mdash; Freiburg, DE</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2009 &ndash; 2011</small></p>
				<p>Volunteer &mdash; Software Engineer</p>
				<p class="saturate"><small>Tukui.org</small></p>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-university"></span> Education</h2>
		<div class="section__timeline timeline">
			<div class="timeline__item">
				<p class="saturate"><small>2011 &ndash; August 2015</small></p>
				<p>Vocational School</p>
				<p class="saturate"><small>Winterthur, CH</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2010 &ndash; 2011</small></p>
				<p>Viventa</p>
				<p class="saturate"><small>Z&uuml;rich, CH</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2008 &ndash; 2010</small></p>
				<p>High School</p>
				<p class="saturate"><small>Z&uuml;rich, CH</small></p>
			</div>

			<div class="timeline__item">
				<p class="saturate"><small>2001 &ndash; 2008</small></p>
				<p>Primary School</p>
				<p class="saturate"><small>Z&uuml;rich, CH</small></p>
			</div>
		</div>
	</section>


	<section class="section">
		<h2 class="section__title"><span class="ion ion-ios-flask"></span> Known CMS / Forum Software</h2>

		<div class="section__progress">
			<p>Wordpress</p>
			<div class="progress">
				<div class="progress__bar" style="width: 75%; background-color: #2C2727;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>phpBB</p>
			<div class="progress">
				<div class="progress__bar" style="width: 75%; background-color: #4F7E9B;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>PyroCMS</p>
			<div class="progress">
				<div class="progress__bar" style="width: 65%; background-color: #FFDA98;"></div>
			</div>
		</div>

		<div class="section__progress">
			<p>Drupal</p>
			<div class="progress">
				<div class="progress__bar" style="width: 60%; background-color: #4BABE5;"></div>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-settings"></span> Known Tools</h2>

		<div class="section__progress">
			<p><strong>*NIX CLI</strong> &mdash; <span class="saturate">daily use</span></p>
			<p><strong>Git</strong> &mdash; <span class="saturate">daily use</span></p>
			<p><strong>Bower</strong> &mdash; <span class="saturate">daily use</span></p>
			<p><strong>Gulp / Grunt</strong> &mdash; <span class="saturate">daily use</span></p>
		</div>
	</section>

	<section class="section">
		<h2 class="section__title"><span class="ion ion-chatbubbles"></span> Known Languages</h2>

		<div class="language">
			<p><strong>German</strong> &mdash; <span class="saturate">mother tongue</span></p>
		</div>

		<div class="language">
			<p><strong>English</strong> &mdash; <span class="saturate">second mother tongue</span></p>
		</div>

		<div class="language">
			<p><strong>French</strong> &mdash; <span class="saturate">basic knowledge</span></p>
		</div>
	</section>
</section>

<section class="section section--full">
	<h2 class="section__title">Hobbies &amp; Interests</h2>

	<div class="interests">
		<div class="interest">
			<span class="ion ion-ios-game-controller-b"></span>
			<p>Games</p>
		</div>

		<div class="interest">
			<span class="ion ion-social-twitch-outline"></span>
			<p>E-Sport</p>
		</div>

		<div class="interest">
			<span class="ion ion-bug"></span>
			<p>Code</p>
		</div>

		<div class="interest">
			<span class="ion ion-music-note"></span>
			<p>Piano</p>
		</div>

		<div class="interest">
			<span class="ion ion-beer"></span>
			<p>Socialize</p>
		</div>
	</div>
</section>

</body>
</html>
