<p><strong>Dear Riot Games</strong></p>

<p>Are you still using legacy software? Overwhelmed by the amount of maintenance needed? Still stuck in bronze 5? I can help I am a passionate web developer wanting to be part of your team.</p>

<p>I first had contact with you when I received a beta key for your game League of Legends. At first I was sceptical if it’s any better than dota. Oh boy was I wrong. League of Legends is a wonderful game and I would be one of the proudest, if not the proudest member of your team.</p>

<p>I started my “career” when I was 10, I designed interfaces for World of Warcraft, since then I have experimented with many different programming languages until my father rented a webserver for me. Since then I am programming for the web and I absolutely love it. I am a very fast learner and willing to push my limits to achieve the perfect user experience.</p>

<p>To already get a better understanding of your infrastructure I created a simple and unfinished API wrapper for your public API and used it in a simple application.</p>

<p>I am looking forward for a response.</p>

<p>Yours sincerely,</p>

<p>Karl Merkli</p>
