<p class="saturate"><strong>Turtle Entertainment GmbH</strong><br>
Siegburger Str. 189<br>
50679 Köln, Deutschland</p>


<p>Zürich, den 24. März 2015</p><br>

<p><strong>Bewerbung als Software Engineer</strong></p><br>

<p>Sehr geehrte Turtle Entertainment GmbH,</p>

<p>mit Freuden habe ich entdeckt das Sie wieder Softwareentwickler suchen. Seit ich klein war faszinierten mich Spiele und wollte ein Teil dieser Welt sein. </p>

<p>Ich arbeite seit Sommer 2011 und bis Sommer 2015 bei der AAC Infotray AG als Lehrling in der Informatik Applikationsentwicklung. Ich bin dort zuständig für die Entwicklung einer Anbindung an eine bestehende win32 Applikation ins Web mit PHP/JS/CSS.</p>

<p>Ich bin zwar noch in der Ausbildung aber meine Erfahrung umfasst viel mehr. Ich habe mit 10 Jahren angefangen zu programmieren, seither beschäftige ich mich fast jeden Tag mit den neusten Technologien des Webs und versuche sie in bestehende oder voranstehende Projekte einzubinden. Spezialisiert habe ich mich auf das Frontend kenne mich aber auch im Backend aus.</p>

<p>Zurzeit arbeite ich privat an einem Projekt, um Bilder zu vergleichen. Es ist eine Webapplikation welche auf den Technologien Laravel 5, Angular und Gulp basiert.</p>

<p>Ich habe unteranderem mit Firmen wie Google Inc. als Frontend Entwickler oder SmashingMedia als Aushilfe für die SmashingConf zusammengearbeitet. Durch das ich in der Webcommunity aktiv bin, fällt es mir leicht in Teams zu integrieren und in bestehenden Code einzuarbeiten.</p>

<p>Ich freue mich auf Ihre Antwort und eine baldige Zusammenarbeit.</p>

<p>Freundliche Grüsse</p><br><br>

<p>Karl Merkli</p>
