@media print {
	thead { display: table-header-group; }
	tfoot { display: table-footer-group; }
}

table {
  width: 100%;
}

th {
  font-weight: inherit;
  text-align: inherit;
}

@page {
	margin: 1cm 1.4cm 1.5cm;
}

@media screen {
  body {
    padding: 1.5em;
  }
}
