body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 1.5rem 0;
}

p {
  margin: 0 0 0.5em 0;
}

strong {
  font-weight: 500;
}
